In [1]:
import numpy as np
import pandas as pd
import datetime as dt
%matplotlib notebook
from matplotlib import style
import matplotlib.dates as mdates
from splinter import Browser
from selenium import webdriver
import requests
from bs4 import BeautifulSoup as bs 
import matplotlib.pyplot as plt

In [2]:
info = {}

In [3]:
#splinter browser for mac
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
url = 'http://www.worldometers.info/world-population/us-population/'

In [5]:
#<div class="table-responsive"> <table class="table table-striped table-bordered table-hover table-condensed table-list"><thead> <tr> <th>Year</th><th>Population</th><th>Yearly % <br> Change</th><th>Yearly<br> Change</th><th>Migrants (net)</th><th>Median Age</th><th>Fertility Rate</th><th>Density (P/Km²)</th><th>Urban<br> Pop %</th><th>Urban Population</th><th>Country's Share of<br> World Pop</th><th>World Population</th><th>U.S.<br>Global Rank</th></tr></thead><tbody> <tr> <td>2019</td> <td><strong>329,093,110</strong></td> <td>0.71 %</td> <td>2,326,362</td> <td>900,000</td> <td>37.8</td> <td>1.88</td> <td>36</td> <td>83.9 %</td> <td>276,062,331</td> <td>4.27 %</td> <td>7,714,576,923</td> <td>3</td> </tr> <tr> <td>2018</td> <td><strong>326,766,748</strong></td> <td>0.71 %</td> <td>2,307,285</td> <td>900,000</td> <td>37.8</td> <td>1.88</td> <td>36</td> <td>83.7 %</td> <td>273,368,693</td> <td>4.28 %</td> <td>7,632,819,325</td> <td>3</td> </tr><tr> <td>2017</td> <td><strong>324,459,463</strong></td> <td>0.71 %</td> <td>2,279,858</td> <td>900,000</td> <td>37.8</td> <td>1.88</td> <td>35</td> <td>83.4 %</td> <td>270,683,202</td> <td>4.30 %</td> <td>7,550,262,101</td> <td>3</td> </tr><tr> <td>2016</td> <td><strong>322,179,605</strong></td> <td>0.70 %</td> <td>2,250,443</td> <td>900,000</td> <td>37.8</td> <td>1.88</td> <td>35</td> <td>83.2 %</td> <td>268,012,791</td> <td>4.31 %</td> <td>7,466,964,280</td> <td>3</td></tr><tr> <td>2015</td> <td><strong>319,929,162</strong></td> <td>0.72 %</td> <td>2,257,554</td> <td>900,000</td> <td>37.6</td> <td>1.88</td> <td>35</td> <td>82.9 %</td> <td>265,360,990</td> <td>4.33 %</td> <td>7,383,008,820</td> <td>3</td></tr><tr> <td>2010</td> <td><strong>308,641,391</strong></td> <td>0.90 %</td> <td>2,702,378</td> <td>1,006,738</td> <td>36.9</td> <td>2.05</td> <td>34</td> <td>81.7 %</td> <td>252,209,506</td> <td>4.44 %</td> <td>6,958,169,159</td> <td>3</td></tr><tr> <td>2005</td> <td><strong>295,129,501</strong></td> <td>0.92 %</td> <td>2,629,345</td> <td>1,041,308</td> <td>36.1</td> <td>2.04</td> <td>32</td> <td>80.8 %</td> <td>238,319,271</td> <td>4.51 %</td> <td>6,542,159,383</td> <td>3</td> </tr><tr> <td>2000</td> <td><strong>281,982,778</strong></td> <td>1.20 %</td> <td>3,264,786</td><td>1,722,415</td> <td>35.2</td> <td>2.00</td> <td>31</td> <td>79.8 %</td> <td>224,992,587</td> <td>4.59 %</td> <td>6,145,006,989</td> <td>3</td></tr><tr> <td>1995</td> <td><strong>265,658,849</strong></td> <td>1.02 %</td> <td>2,625,780</td> <td>903,362</td> <td>34.0</td> <td>2.03</td> <td>29</td> <td>77.9 %</td> <td>207,079,744</td> <td>4.62 %</td> <td>5,751,474,416</td> <td>3</td></tr><tr> <td>1990</td> <td><strong>252,529,950</strong></td> <td>0.95 %</td> <td>2,341,166</td> <td>685,748</td> <td>32.8</td> <td>1.91</td> <td>28</td> <td>75.9 %</td> <td>191,644,695</td> <td>4.74 %</td> <td>5,330,943,460</td> <td>3</td></tr><tr> <td>1985</td> <td><strong>240,824,120</strong></td> <td>0.94 %</td> <td>2,212,214</td> <td>680,452</td> <td>31.4</td> <td>1.80</td> <td>26</td> <td>74.8 %</td> <td>180,179,769</td> <td>4.94 %</td> <td>4,873,781,796</td> <td>3</td></tr><tr> <td>1980</td> <td><strong>229,763,052</strong></td> <td>0.95 %</td> <td>2,111,551</td> <td>785,362</td> <td>30.0</td> <td>1.77</td> <td>25</td> <td>73.9 %</td> <td>169,727,449</td> <td>5.15 %</td> <td>4,458,411,534</td> <td>3</td></tr><tr> <td>1975</td> <td><strong>219,205,296</strong></td> <td>0.90 %</td> <td>1,923,429</td> <td>588,099</td> <td>29.0</td> <td>2.03</td> <td>24</td> <td>73.7 %</td> <td>161,622,360</td> <td>5.37 %</td> <td>4,079,087,198</td> <td>3</td></tr><tr> <td>1970</td> <td><strong>209,588,150</strong></td> <td>0.96 %</td> <td>1,954,522</td> <td>309,893</td> <td>28.4</td> <td>2.54</td> <td>23</td> <td>73.7 %</td> <td>154,485,268</td> <td>5.66 %</td> <td>3,700,577,650</td> <td>3</td></tr><tr> <td>1965</td> <td><strong>199,815,540</strong></td> <td>1.36 %</td> <td>2,601,462</td> <td>192,085</td> <td>30.3</td> <td>3.31</td> <td>22</td> <td>71.8 %</td> <td>143,531,680</td> <td>5.98 %</td> <td>3,339,592,688</td> <td>3</td></tr><tr> <td>1960</td> <td><strong>186,808,228</strong></td> <td>1.69 %</td> <td>3,004,877</td> <td>422,460</td> <td>29.8</td> <td>3.58</td> <td>20</td> <td>69.8 %</td> <td>130,444,993</td> <td>6.16 %</td> <td>3,033,212,527</td> <td>3</td></tr><tr> <td>1955</td> <td><strong>171,783,842</strong></td> <td>1.58 %</td> <td>2,595,889</td> <td>192,085</td> <td>30.3</td> <td>3.31</td> <td>19</td> <td>66.8 %</td> <td>114,808,661</td> <td>6.20 %</td> <td>2,772,242,535</td> <td>3</td></tr></tbody></table> </div>

In [6]:
browser.visit(url)

In [7]:
#Beautiful Soup
html = browser.html
soup = bs(html, 'html.parser')

In [8]:
table = pd.read_html(url)
table[1]

,Year,Population,Yearly % Change,Yearly Change,Migrants (net),Median Age,Fertility Rate,Density (P/Km²),Urban Pop %,Urban Population,Country's Share of World Pop,World Population,U.S.Global Rank
0,2019,329093110,0.71 %,2326362,900000,37.8,1.88,36,83.9 %,276062331,4.27 %,7714576923,3
1,2018,326766748,0.71 %,2307285,900000,37.8,1.88,36,83.7 %,273368693,4.28 %,7632819325,3
2,2017,324459463,0.71 %,2279858,900000,37.8,1.88,35,83.4 %,270683202,4.30 %,7550262101,3
3,2016,322179605,0.70 %,2250443,900000,37.8,1.88,35,83.2 %,268012791,4.31 %,7466964280,3
4,2015,319929162,0.72 %,2257554,900000,37.6,1.88,35,82.9 %,265360990,4.33 %,7383008820,3
5,2010,308641391,0.90 %,2702378,1006738,36.9,2.05,34,81.7 %,252209506,4.44 %,6958169159,3
6,2005,295129501,0.92 %,2629345,1041308,36.1,2.04,32,80.8 %,238319271,4.51 %,6542159383,3
7,2000,281982778,1.20 %,3264786,1722415,35.2,2.00,31,79.8 %,224992587,4.59 %,6145006989,3
8,1995,265658849,1.02 %,2625780,903362,34.0,2.03,29,77.9 %,207079744,4.62 %,5751474416,3
9,1990,252529950,0.95 %,2341166,685748,32.8,1.91,28,75.9 %,191644695,4.74 %,5330943460,3
10,1985,240824120,0.94 %,2212214,680452,31.4,1.80,26,74.8 %,180179769,4.94 %,4873781796,3
11,1980,229763052,0.95 %,2111551,785362,30.0,1.77,25,73.9 %,169727449,5.15 %,4458411534,3
12,1975,219205296,0.90 %,1923429,588099,29.0,2.03,24,73.7 %,161622360,5.37 %,4079087198,3
13,1970,209588150,0.96 %,1954522,309893,28.4,2.54,23,73.7 %,154485268,5.66 %,3700577650,3
14,1965,199815540,1.36 %,2601462,192085,30.3,3.31,22,71.8 %,143531680,5.98 %,3339592688,3
15,1960,186808228,1.69 %,3004877,422460,29.8,3.58,20,69.8 %,130444993,6.16 %,3033212527,3
16,1955,171783842,1.58 %,2595889,192085,30.3,3.31,19,66.8 %,114808661,6.20 %,2772242535,3

In [9]:
result = table[1]

In [10]:
result.to_csv("output.csv", index=True)

In [11]:
fed_url = 'https://www.macrotrends.net/2015/fed-funds-rate-historical-chart'

In [12]:
browser.visit(fed_url)

In [13]:
fed_table = pd.read_html(fed_url)
fed_table[0].head()

,Federal Funds Rate - Historical Annual Yield Data,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,2019,2.40%,2.40%,2.40%,2.40%,2.40%,0.00%
1,2018,1.79%,1.42%,2.40%,1.34%,2.40%,80.45%
2,2017,1.00%,0.55%,1.42%,0.55%,1.33%,141.82%
3,2016,0.39%,0.20%,0.66%,0.20%,0.55%,175.00%
4,2015,0.13%,0.06%,0.37%,0.06%,0.20%,233.33%

In [14]:
fed_result = fed_table[0]
fed_result.to_csv("fed_rate.csv", index=True)

In [15]:
fed_df = pd.read_csv("fed_rate.csv", parse_dates=True, index_col=0)
fed_df.head()

,Federal Funds Rate - Historical Annual Yield Data,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,2019,2.40%,2.40%,2.40%,2.40%,2.40%,0.00%
1,2018,1.79%,1.42%,2.40%,1.34%,2.40%,80.45%
2,2017,1.00%,0.55%,1.42%,0.55%,1.33%,141.82%
3,2016,0.39%,0.20%,0.66%,0.20%,0.55%,175.00%
4,2015,0.13%,0.06%,0.37%,0.06%,0.20%,233.33%

In [16]:
type(fed_df)

pandas.core.frame.DataFrame

In [17]:
fed_df.dtypes

Federal Funds Rate - Historical Annual Yield Data     int64
Unnamed: 1                                           object
Unnamed: 2                                           object
Unnamed: 3                                           object
Unnamed: 4                                           object
Unnamed: 5                                           object
Unnamed: 6                                           object
dtype: object

In [18]:
#spy_df2.rename(columns={"Volume":"SPY Volume", "Adj Close":"SPY AdjClose", "100MA":"SPY 100MA"}, inplace=True)

In [19]:
#rename columns so they make sense
#Average Yield	Year Open	Year High	Year Low	Year Close	Annual% Change

fed_df.rename(columns={"Federal Funds Rate - Historical Annual Yield Data": 'Year', 'Unnamed: 1': 'Avg Yield', 'Unnamed: 2': 'Year Open', 'Unnamed: 3': 'Year High', 'Unnamed: 4': 'Year Low', 'Unnamed: 5': 'Year Close', 'Unnamed: 6': '% Change'}, inplace=True)
fed_df.head()

   Year Avg Yield Year Open Year High Year Low Year Close % Change
0  2019     2.40%     2.40%     2.40%    2.40%      2.40%    0.00%
1  2018     1.79%     1.42%     2.40%    1.34%      2.40%   80.45%
2  2017     1.00%     0.55%     1.42%    0.55%      1.33%  141.82%
3  2016     0.39%     0.20%     0.66%    0.20%      0.55%  175.00%
4  2015     0.13%     0.06%     0.37%    0.06%      0.20%  233.33%

In [20]:
fed_avg_rate = fed_df[['Year', 'Avg Yield']]
fed_avg_rate.head()

   Year Avg Yield
0  2019     2.40%
1  2018     1.79%
2  2017     1.00%
3  2016     0.39%
4  2015     0.13%

In [21]:
#reduced_df = books_df[["isbn", "original_publication_year", "original_title", "authors",
                       #"ratings_1", "ratings_2", "ratings_3", "ratings_4", "ratings_5"]]
#reduced_df.head()

In [22]:
population_df = pd.read_csv("output.csv", parse_dates=True, )
population_df.head()

,Unnamed: 0,Year,Population,Yearly % Change,Yearly Change,Migrants (net),Median Age,Fertility Rate,Density (P/Km²),Urban Pop %,Urban Population,Country's Share of World Pop,World Population,U.S.Global Rank
0,0,2019,329093110,0.71 %,2326362,900000,37.8,1.88,36,83.9 %,276062331,4.27 %,7714576923,3
1,1,2018,326766748,0.71 %,2307285,900000,37.8,1.88,36,83.7 %,273368693,4.28 %,7632819325,3
2,2,2017,324459463,0.71 %,2279858,900000,37.8,1.88,35,83.4 %,270683202,4.30 %,7550262101,3
3,3,2016,322179605,0.70 %,2250443,900000,37.8,1.88,35,83.2 %,268012791,4.31 %,7466964280,3
4,4,2015,319929162,0.72 %,2257554,900000,37.6,1.88,35,82.9 %,265360990,4.33 %,7383008820,3

In [23]:
population_df.dtypes

Unnamed: 0                        int64
Year                              int64
Population                        int64
Yearly %  Change                 object
Yearly Change                     int64
Migrants (net)                    int64
Median Age                      float64
Fertility Rate                  float64
Density (P/Km²)                   int64
Urban Pop %                      object
Urban Population                  int64
Country's Share of World Pop     object
World Population                  int64
U.S.Global Rank                   int64
dtype: object

In [24]:
pop_by_year = population_df[['Year', 'Population']]
pop_by_year.head()

   Year  Population
0  2019   329093110
1  2018   326766748
2  2017   324459463
3  2016   322179605
4  2015   319929162

In [25]:
pop_rate_year = pd.merge(pop_by_year, fed_avg_rate, on="Year", how="outer")
#pop_rate_year.head()

In [26]:
pop_rate_year.dtypes

Year            int64
Population    float64
Avg Yield      object
dtype: object

In [27]:
pop_rate_year["Year"] = pd.to_datetime(pop_rate_year['Year'], format='%Y')
pop_rate_year

         Year   Population Avg Yield
0  2019-01-01  329093110.0     2.40%
1  2018-01-01  326766748.0     1.79%
2  2017-01-01  324459463.0     1.00%
3  2016-01-01  322179605.0     0.39%
4  2015-01-01  319929162.0     0.13%
5  2010-01-01  308641391.0     0.18%
6  2005-01-01  295129501.0     3.22%
7  2000-01-01  281982778.0     6.24%
8  1995-01-01  265658849.0     5.83%
9  1990-01-01  252529950.0     8.10%
10 1985-01-01  240824120.0     8.10%
11 1980-01-01  229763052.0    13.35%
12 1975-01-01  219205296.0     5.82%
13 1970-01-01  209588150.0     7.17%
14 1965-01-01  199815540.0     4.08%
15 1960-01-01  186808228.0     3.21%
16 1955-01-01  171783842.0     1.79%
17 2014-01-01          NaN     0.09%
18 2013-01-01          NaN     0.11%
19 2012-01-01          NaN     0.14%
20 2011-01-01          NaN     0.10%
21 2009-01-01          NaN     0.16%
22 2008-01-01          NaN     1.92%
23 2007-01-01          NaN     5.02%
24 2006-01-01          NaN     4.97%
25 2004-01-01          NaN     1.35%
26 2003-01-01          NaN     1.13%
27 2002-01-01          NaN     1.67%
28 2001-01-01          NaN     3.88%
29 1999-01-01          NaN     4.97%
..        ...          ...       ...
35 1992-01-01          NaN     3.52%
36 1991-01-01          NaN     5.69%
37 1989-01-01          NaN     9.21%
38 1988-01-01          NaN     7.57%
39 1987-01-01          NaN     6.66%
40 1986-01-01          NaN     6.80%
41 1984-01-01          NaN    10.23%
42 1983-01-01          NaN     9.09%
43 1982-01-01          NaN    12.24%
44 1981-01-01          NaN    16.39%
45 1979-01-01          NaN    11.20%
46 1978-01-01          NaN     7.94%
47 1977-01-01          NaN     5.54%
48 1976-01-01          NaN     5.05%
49 1974-01-01          NaN    10.51%
50 1973-01-01          NaN     8.74%
51 1972-01-01          NaN     4.44%
52 1971-01-01          NaN     4.67%
53 1969-01-01          NaN     8.21%
54 1968-01-01          NaN     5.66%
55 1967-01-01          NaN     4.22%
56 1966-01-01          NaN     5.11%
57 1964-01-01          NaN     3.50%
58 1963-01-01          NaN     3.18%
59 1962-01-01          NaN     2.71%
60 1961-01-01          NaN     1.95%
61 1959-01-01          NaN     3.31%
62 1958-01-01          NaN     1.57%
63 1957-01-01          NaN     3.11%
64 1956-01-01          NaN     2.73%

[65 rows x 3 columns]

In [28]:
type(pop_rate_year)

pandas.core.frame.DataFrame

In [29]:
pop_rate_year.dtypes

Year          datetime64[ns]
Population           float64
Avg Yield             object
dtype: object

In [30]:
pop_rate_year.set_index("Year")
pop_rate_year.head()

        Year   Population Avg Yield
0 2019-01-01  329093110.0     2.40%
1 2018-01-01  326766748.0     1.79%
2 2017-01-01  324459463.0     1.00%
3 2016-01-01  322179605.0     0.39%
4 2015-01-01  319929162.0     0.13%

In [31]:
start_date = '01-01-1998'
end_date = '01-01-2018'

In [32]:
mask = (pop_rate_year['Year'] >start_date) & (pop_rate_year['Year'] <= end_date)

In [33]:
pop_rate_year = pop_rate_year.loc[mask]
pop_rate_year

         Year   Population Avg Yield
1  2018-01-01  326766748.0     1.79%
2  2017-01-01  324459463.0     1.00%
3  2016-01-01  322179605.0     0.39%
4  2015-01-01  319929162.0     0.13%
5  2010-01-01  308641391.0     0.18%
6  2005-01-01  295129501.0     3.22%
7  2000-01-01  281982778.0     6.24%
17 2014-01-01          NaN     0.09%
18 2013-01-01          NaN     0.11%
19 2012-01-01          NaN     0.14%
20 2011-01-01          NaN     0.10%
21 2009-01-01          NaN     0.16%
22 2008-01-01          NaN     1.92%
23 2007-01-01          NaN     5.02%
24 2006-01-01          NaN     4.97%
25 2004-01-01          NaN     1.35%
26 2003-01-01          NaN     1.13%
27 2002-01-01          NaN     1.67%
28 2001-01-01          NaN     3.88%
29 1999-01-01          NaN     4.97%

In [85]:
#rename columns to match for merge

pop_rate_year.rename(columns={'Year': 'Date'}, inplace=True)
pop_rate_year.head()

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3027: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

        Date   Population Avg Yield
1 2018-01-01  326766748.0     1.79%
2 2017-01-01  324459463.0     1.00%
3 2016-01-01  322179605.0     0.39%
4 2015-01-01  319929162.0     0.13%
5 2010-01-01  308641391.0     0.18%

In [86]:
pop_rate_year.dtypes

Date          datetime64[ns]
Population           float64
Avg Yield             object
dtype: object

In [87]:
em_data = pd.read_csv('Unemployment rate.csv', parse_dates=True)
em_data.head()

         Date  Rate
0  2000-01-01   4.0
1  2000-02-01   4.1
2  2000-03-01   4.0
3  2000-04-01   3.8
4  2000-05-01   4.0

In [88]:
em_data.dtypes

Date     object
Rate    float64
dtype: object

In [122]:
spy_data = pd.read_csv('spy.csv', parse_dates=True)
spy_data.head()

,Date,High,Low,Open,Close,Volume,Adj Close
0,2000-01-03,148.250000,143.875000,148.250000,145.4375,8164300.0,101.872139
1,2000-01-04,144.062500,139.640594,143.531204,139.7500,8089800.0,97.888344
2,2000-01-05,141.531204,137.250000,139.937500,140.0000,12177900.0,98.063423
3,2000-01-06,141.500000,137.750000,139.625000,137.7500,6227200.0,96.487427
4,2000-01-07,145.750000,140.062500,140.312500,145.7500,8066500.0,102.091049

In [123]:
# Create a column that shows the 100 Day Moving Average
spy_data['100MA'] = spy_data['Adj Close'].rolling(window=100, min_periods=0).mean()

# Drop unneccessary columns
spy_data = spy_data.drop(["High","Low","Open","Close"], axis=1)
spy_data.head()

         Date      Volume   Adj Close       100MA
0  2000-01-03   8164300.0  101.872139  101.872139
1  2000-01-04   8089800.0   97.888344   99.880241
2  2000-01-05  12177900.0   98.063423   99.274635
3  2000-01-06   6227200.0   96.487427   98.577833
4  2000-01-07   8066500.0  102.091049   99.280476

In [124]:
spy_data.dtypes

Date          object
Volume       float64
Adj Close    float64
100MA        float64
dtype: object

In [125]:
spy_data.rename(columns={"Volume":"SPY Volume", "Adj Close":"SPY AdjClose", "100MA":"SPY 100MA"}, inplace=True)
spy_data.head()

         Date  SPY Volume  SPY AdjClose   SPY 100MA
0  2000-01-03   8164300.0    101.872139  101.872139
1  2000-01-04   8089800.0     97.888344   99.880241
2  2000-01-05  12177900.0     98.063423   99.274635
3  2000-01-06   6227200.0     96.487427   98.577833
4  2000-01-07   8066500.0    102.091049   99.280476

In [126]:
vix_data = pd.read_csv('vix.csv', parse_dates=True)
vix_data.head()

         Date       High        Low       Open      Close  Volume  Adj Close
0  2000-01-03  26.150000  23.980000  24.360001  24.209999       0  24.209999
1  2000-01-04  27.180000  24.799999  24.940001  27.010000       0  27.010000
2  2000-01-05  29.000000  25.850000  27.980000  26.410000       0  26.410000
3  2000-01-06  26.709999  24.700001  26.680000  25.730000       0  25.730000
4  2000-01-07  25.170000  21.719999  25.139999  21.719999       0  21.719999

In [127]:
vix_data.rename(columns={"Volume":"VIX Volume", "Adj Close":"VIX AdjClose", "100MA":"VIX 100MA"}, inplace=True)
vix_data.head()

,Date,High,Low,Open,Close,VIX Volume,VIX AdjClose
0,2000-01-03,26.150000,23.980000,24.360001,24.209999,0,24.209999
1,2000-01-04,27.180000,24.799999,24.940001,27.010000,0,27.010000
2,2000-01-05,29.000000,25.850000,27.980000,26.410000,0,26.410000
3,2000-01-06,26.709999,24.700001,26.680000,25.730000,0,25.730000
4,2000-01-07,25.170000,21.719999,25.139999,21.719999,0,21.719999

In [128]:
vix_data.dtypes

Date             object
High            float64
Low             float64
Open            float64
Close           float64
VIX Volume        int64
VIX AdjClose    float64
dtype: object

In [130]:
merge_data = pd.merge(vix_data, spy_data, how = "outer", on="Date")
merge_data = merge_data.reset_index()
merge_data.head()

,index,Date,High,Low,Open,Close,VIX Volume,VIX AdjClose,SPY Volume,SPY AdjClose,SPY 100MA
0,0,2000-01-03,26.150000,23.980000,24.360001,24.209999,0,24.209999,8164300.0,101.872139,101.872139
1,1,2000-01-04,27.180000,24.799999,24.940001,27.010000,0,27.010000,8089800.0,97.888344,99.880241
2,2,2000-01-05,29.000000,25.850000,27.980000,26.410000,0,26.410000,12177900.0,98.063423,99.274635
3,3,2000-01-06,26.709999,24.700001,26.680000,25.730000,0,25.730000,6227200.0,96.487427,98.577833
4,4,2000-01-07,25.170000,21.719999,25.139999,21.719999,0,21.719999,8066500.0,102.091049,99.280476

In [131]:
merge_data.dtypes

index             int64
Date             object
High            float64
Low             float64
Open            float64
Close           float64
VIX Volume        int64
VIX AdjClose    float64
SPY Volume      float64
SPY AdjClose    float64
SPY 100MA       float64
dtype: object

In [132]:
merge_data = pd.merge(merge_data, em_data, on = "Date", how = "outer")
merge_data.head()

,index,Date,High,Low,Open,Close,VIX Volume,VIX AdjClose,SPY Volume,SPY AdjClose,SPY 100MA,Rate
0,0.0,2000-01-03,26.150000,23.980000,24.360001,24.209999,0.0,24.209999,8164300.0,101.872139,101.872139,NaN
1,1.0,2000-01-04,27.180000,24.799999,24.940001,27.010000,0.0,27.010000,8089800.0,97.888344,99.880241,NaN
2,2.0,2000-01-05,29.000000,25.850000,27.980000,26.410000,0.0,26.410000,12177900.0,98.063423,99.274635,NaN
3,3.0,2000-01-06,26.709999,24.700001,26.680000,25.730000,0.0,25.730000,6227200.0,96.487427,98.577833,NaN
4,4.0,2000-01-07,25.170000,21.719999,25.139999,21.719999,0.0,21.719999,8066500.0,102.091049,99.280476,NaN

In [133]:
merge_data = pd.merge(merge_data, pop_rate_year, on = "Date", how = "outer")
merge_data.head()

,index,Date,High,Low,Open,Close,VIX Volume,VIX AdjClose,SPY Volume,SPY AdjClose,SPY 100MA,Rate,Population,Avg Yield
0,0.0,2000-01-03,26.150000,23.980000,24.360001,24.209999,0.0,24.209999,8164300.0,101.872139,101.872139,NaN,NaN,NaN
1,1.0,2000-01-04,27.180000,24.799999,24.940001,27.010000,0.0,27.010000,8089800.0,97.888344,99.880241,NaN,NaN,NaN
2,2.0,2000-01-05,29.000000,25.850000,27.980000,26.410000,0.0,26.410000,12177900.0,98.063423,99.274635,NaN,NaN,NaN
3,3.0,2000-01-06,26.709999,24.700001,26.680000,25.730000,0.0,25.730000,6227200.0,96.487427,98.577833,NaN,NaN,NaN
4,4.0,2000-01-07,25.170000,21.719999,25.139999,21.719999,0.0,21.719999,8066500.0,102.091049,99.280476,NaN,NaN,NaN

In [134]:
merge_data.dtypes

index           float64
Date             object
High            float64
Low             float64
Open            float64
Close           float64
VIX Volume      float64
VIX AdjClose    float64
SPY Volume      float64
SPY AdjClose    float64
SPY 100MA       float64
Rate            float64
Population      float64
Avg Yield        object
dtype: object

In [135]:

merge_data.head()

,index,Date,High,Low,Open,Close,VIX Volume,VIX AdjClose,SPY Volume,SPY AdjClose,SPY 100MA,Rate,Population,Avg Yield
0,0.0,2000-01-03,26.150000,23.980000,24.360001,24.209999,0.0,24.209999,8164300.0,101.872139,101.872139,NaN,NaN,NaN
1,1.0,2000-01-04,27.180000,24.799999,24.940001,27.010000,0.0,27.010000,8089800.0,97.888344,99.880241,NaN,NaN,NaN
2,2.0,2000-01-05,29.000000,25.850000,27.980000,26.410000,0.0,26.410000,12177900.0,98.063423,99.274635,NaN,NaN,NaN
3,3.0,2000-01-06,26.709999,24.700001,26.680000,25.730000,0.0,25.730000,6227200.0,96.487427,98.577833,NaN,NaN,NaN
4,4.0,2000-01-07,25.170000,21.719999,25.139999,21.719999,0.0,21.719999,8066500.0,102.091049,99.280476,NaN,NaN,NaN

In [136]:
merge_data.to_csv("total.csv", index=False)

In [137]:
market_df = pd.read_csv('total.csv', parse_dates=True)
market_df.head()

,index,Date,High,Low,Open,Close,VIX Volume,VIX AdjClose,SPY Volume,SPY AdjClose,SPY 100MA,Rate,Population,Avg Yield
0,0.0,2000-01-03,26.150000,23.980000,24.360001,24.209999,0.0,24.209999,8164300.0,101.872139,101.872139,NaN,NaN,NaN
1,1.0,2000-01-04,27.180000,24.799999,24.940001,27.010000,0.0,27.010000,8089800.0,97.888344,99.880241,NaN,NaN,NaN
2,2.0,2000-01-05,29.000000,25.850000,27.980000,26.410000,0.0,26.410000,12177900.0,98.063423,99.274635,NaN,NaN,NaN
3,3.0,2000-01-06,26.709999,24.700001,26.680000,25.730000,0.0,25.730000,6227200.0,96.487427,98.577833,NaN,NaN,NaN
4,4.0,2000-01-07,25.170000,21.719999,25.139999,21.719999,0.0,21.719999,8066500.0,102.091049,99.280476,NaN,NaN,NaN

ValueError: labels ['index'] not contained in axis

In [50]:
# Set up graph area
ax1 = plt.subplot2grid((6,1), (0,0), rowspan=5, colspan=1)
ax2 = plt.subplot2grid((6,1), (5,0), rowspan=1, colspan=1, sharex=ax1)

# Plot Adj Close and 100 Average lines on first plot area 
vix_close = ax1.plot(merge_data.index, merge_data['VIX AdjClose'])
vix_average = ax1.plot(merge_data.index,merge_data['VIX 100MA'])
spy_close = ax1.plot(merge_data.index, merge_data['SPY AdjClose'])
spy_average = ax1.plot(merge_data.index,merge_data['SPY 100MA'])

# Plot the SPY volume bars in second plot area
spy_volume = ax2.bar(merge_data.index, merge_data['SPY Volume'])

# Add Title and Labels
ax1.set_title("SP500 vs Volatility Index")
ax1.set_xlabel("Years")
ax1.set_ylabel("Price")
ax2.set_ylabel("Units")
# Add legend
ax1.legend()
ax2.legend("Vol", loc="best", fontsize="x-small")

plt.show()

KeyError: 'VIX 100MA'